.container {
    width: 300px;
    margin: 0 auto;
  }
  
  input {
    width: 100px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #0099CC;
    color:yellow;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  span {
    font-size: 16px;
  }
  body{
    background-color:whitesmoke;
  }